[workspace]
members = ["gnosis_vpn*"]
resolver = "2"

[workspace.package]
version = "0.56.2"
edition = "2024"
license = "LGPL-3.0"

[workspace.metadata.crane]
name = "gnosis_vpn"

[workspace.dependencies]
alloy = { version = "=1.0.42", default-features = false, features = [
  "essentials",
  "json-rpc",
  "node-bindings",
  "contract",
  "k256",
  "std",
] }
anyhow = { version = "1.0.100" }
async-lock = { version = "3.4.2" }
backon = { version = "1.6.0" }
bytesize = "2.3.0"
clap = { version = "4.5.53", features = ["derive", "env"] }
directories = "6.0.0"
exitcode = "1.1.2"
humantime = "2.3.0"
humantime-serde = "1.1.1"
human-bandwidth = "0.1.4"
libc = "0.2.177"
mimalloc = { version = "0.1.48", default-features = false, features = [
  "secure",
] }
pfctl = "0.7.0"
multiaddr = "0.18.2"
ping = "0.7.0"
primitive-types = "0.14.0"
rand = "0.9.2"
regex = "1.12.2"
reqwest = { version = "0.12.28", features = ["json", "blocking"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.148"
thiserror = "2.0.17"
toml = "0.9.7"
tracing = "0.1.44"
tracing-subscriber = "0.3.20"
tokio = { version = "1.48.0", features = ["full"] }
url = { version = "2.5.7", features = ["serde"] }
edgli = { git = "https://github.com/hoprnet/edge-client.git", rev = "a5b84a233e96bca8f1e48eabd23de7a5a656ff23", features = [
  "prometheus",
] }
serde_with = "3.16.0"
serde_yaml = "0.9.34"
tokio-util = { version = "0.7.17", features = ["rt"] }
uzers = "0.12.2"

gnosis_vpn-lib = { path = "gnosis_vpn-lib" }

# this profile focuses on the best runtime performance and the smallest binary size
[profile.release]
codegen-units = 1
lto = "fat"
panic = "abort"
strip = true
opt-level = 3

[profile.intelmac]
inherits = "release"
opt-level = 1
debug = false
# split-debuginfo = '...'  # Platform-specific.
strip = "none"
debug-assertions = false
overflow-checks = false
lto = false
panic = 'unwind'
incremental = false
codegen-units = 16
rpath = false
