[workspace]
members = ["gnosis_vpn*"]
resolver = "2"

[workspace.package]
version = "0.56.2"
edition = "2024"
license = "LGPL-3.0"

[workspace.metadata.crane]
name = "gnosis_vpn"

[workspace.dependencies]
anyhow = { version = "1.0.100" }
backoff = { version = "0.4.0", features = ["tokio"] }
bytesize = "2.3.1"
clap = { version = "4.5.53", features = ["derive", "env"] }
directories = "6.0.0"
exitcode = "1.1.2"
humantime = "2.3.0"
humantime-serde = "1.1.1"
human-bandwidth = "0.1.4"
libc = "0.2.0"
mimalloc = { version = "0.1.48", default-features = false, features = [
  "secure",
] }
notify = { version = "8.2.0", features = ["crossbeam-channel"] }
ping = "0.7.0"
rand = "0.9.2"
regex = "1.12.2"
reqwest = { version = "0.12.25", features = ["json", "blocking"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
thiserror = "2.0.17"
toml = "0.9.7"
tracing = { version = "0.1.43", features = ["release_max_level_debug"] }
tracing-subscriber = "0.3.22"
tokio = { version = "1.48.0", features = ["full"] }
url = { version = "2.5.7", features = ["serde"] }
edgli = { git = "https://github.com/hoprnet/edge-client.git", rev = "76453c36faf3b50eedd80fd03d2120b062587529", features = [
  "prometheus",
] }
hopr-utils-session = { git = "https://github.com/hoprnet/hoprnet", rev = "38daceef1de1b052636e3e9550f55d9e5a65ff71", features = [
  "runtime-tokio",
] }
serde_with = "3.16.1"
serde_yaml = "0.9.34"
tokio-util = { version = "0.7.17", features = ["rt"] }
uzers = "0.12.1"

gnosis_vpn-lib = { path = "gnosis_vpn-lib" }

# this profile focuses on the best runtime performance and the smallest binary size
[profile.release]
codegen-units = 1
lto = "fat"
panic = "abort"
strip = true
opt-level = 3

[profile.intelmac]
inherits = "release"
opt-level = 1
debug = false
# split-debuginfo = '...'  # Platform-specific.
strip = "none"
debug-assertions = false
overflow-checks = false
lto = false
panic = 'unwind'
incremental = false
codegen-units = 16
rpath = false
