[workspace]
members = ["gnosis_vpn*"]
resolver = "2"

[workspace.package]
version = "0.50.9"
edition = "2024"
license = "LGPL-3.0"

[workspace.metadata.crane]
name = "gnosis_vpn"

[workspace.dependencies]
alloy = { version = "=1.0.37", default-features = false, features = [
  "essentials",
  "json-rpc",
  "node-bindings",
  "contract",
  "k256",
  "std",
] }
anyhow = { version = "1.0.100" }
async-lock = { version = "3.4.1" }
backoff = {version = "0.4.0", features = ["tokio"]}
bytesize = "2.1.0"
clap = { version = "4.5.50", features = ["derive", "env"] }
crossbeam-channel = "0.5.15"
ctrlc = { version = "3.5.0", features = ["termination"] }
directories = "6.0.0"
exitcode = "1.1.2"
hex = "0.4.3"
humantime = "2.3.0"
humantime-serde = "1.1.1"
human-bandwidth = "0.1.4"
mimalloc = { version = "0.1.48", default-features = false, features = [
  "secure",
] }
notify = { version = "8.2.0", features = ["crossbeam-channel"] }
ping = "0.7.0"
primitive-types = "0.14.0"
rand = "0.9.2"
regex = "1.12.2"
reqwest = { version = "0.12.23", features = ["json", "blocking"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
thiserror = "2.0.17"
toml = "0.9.7"
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
tokio = { version = "1.48.0", features = ["full"] }
url = { version = "2.5.7", features = ["serde"] }
edgli = { git = "https://github.com/hoprnet/edge-client.git", rev = "ff930b7321b687b0f647d232ffedeea7b2b1c683", features = [
  "prometheus",
] }
serde_with = "3.15.1"
serde_yaml = "0.9.34"
uuid = { version = "1.18.1", features = ["v4"] }

gnosis_vpn-lib = { path = "gnosis_vpn-lib" }

# this profile focuses on the best runtime performance and the smallest binary size
[profile.release]
codegen-units = 1
lto = "fat"
panic = "abort"
strip = true
opt-level = 3

[profile.intelmac]
inherits = "release"
opt-level = 1
debug = false
# split-debuginfo = '...'  # Platform-specific.
strip = "none"
debug-assertions = false
overflow-checks = false
lto = false
panic = 'unwind'
incremental = false
codegen-units = 16
rpath = false
