[workspace]
members = ["gnosis_vpn*"]
resolver = "2"

[workspace.package]
version = "0.63.0"
edition = "2024"
license = "LGPL-3.0"

[workspace.metadata.crane]
name = "gnosis_vpn"

[workspace.dependencies]
async-trait = "0.1.89"
anyhow = { version = "1.0.100" }
backon = { version = "1.6.0" }
bytesize = "2.3.0"
cidr = "0.3.2"
clap = { version = "4.5.55", features = ["derive", "env"] }
directories = "6.0.0"
exitcode = "1.1.2"
futures = "0.3.31"
humantime = "2.3.0"
futures-util = "0.3.31"
humantime-serde = "1.1.1"
human-bandwidth = "0.1.4"
iptables = "0.6.0"
libc = "0.2.177"
multiaddr = "0.18.2"
parking_lot = "0.12.5"
ping = "0.7.0"
rand = "0.9.2"
regex = "1.12.2"
reqwest = { version = "0.13.1", features = ["json", "blocking"] }
rtnetlink = "0.20.0"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.148"
thiserror = "2.0.18"
toml = "0.9.8"
tracing = { version = "0.1.44", features = ["release_max_level_debug"] }
tracing-subscriber = "0.3.22"
tokio = { version = "1.48.0", features = ["full"] }
url = { version = "2.5.7", features = ["serde"] }
edgli = { git = "https://github.com/hoprnet/edge-client.git", rev = "982b08a1065ea32a69986e6dc765871d102b8570", features = [
  "prometheus",
] }
hopr-utils-session = { git = "https://github.com/hoprnet/hoprnet", rev = "b81434abcf1cce279ce15887d9214988c86128d1", features = [
  "runtime-tokio",
] }
serde_with = "3.16.1"
serde_yaml = "0.9.34"
tokio-util = { version = "0.7.17", features = ["rt"] }
uzers = "0.12.2"

gnosis_vpn-lib = { path = "gnosis_vpn-lib" }

# this profile focuses on the best runtime performance and the smallest binary size
[profile.release]
codegen-units = 1
lto = "fat"
panic = "abort"
strip = true
opt-level = 3

[profile.intelmac]
inherits = "release"
opt-level = 1
debug = false
# split-debuginfo = '...'  # Platform-specific.
strip = true
debug-assertions = false
overflow-checks = false
lto = false
panic = "abort"
incremental = false
codegen-units = 1
rpath = false
