###
# Gnosis VPN service configuration file
#
# On Unix the default config path is `/etc/gnosisvpn/config.toml`
# However, you can override this by using the `GNOSISVPN_CONFIG_PATH` environment variable.
###

# general config file version
version = 5

###
## destinations section - configure available target destinations

[destinations]

# identifier for a destination and its routing options
# [destinations.<id>]
# exit node address (where the connection should terminate)
# address = "<exit node address>"
# additional information about this exit node
# meta = { location = <location> }
# session path should either be intermediates or hops = {nr}
# path = { intermediates = [ "12D3KooWFUD4BSzjopNzEzhSi9chAkZXRKGtQJzU482rJnyd2ZnP" ] }
# path = { hops = 1 }

[destinations.Germany]
address = "0xD9c11f07BfBC1914877d7395459223aFF9Dc2739"
meta = { location = "Germany" }
path = { intermediates = ["0xD88064F7023D5dA2Efa35eAD1602d5F5d86BB6BA"] }

[destinations.USA]
address = "0xa5Ca174Ef94403d6162a969341a61baeA48F57F8"
meta = { location = "USA" }
path = { intermediates = ["0x25865191AdDe377fd85E91566241178070F4797A"] }

[destinations.Spain]
address = "0x8a6E6200C9dE8d8F8D9b4c08F86500a2E3Fbf254"
meta = { location = "Spain" }
path = { intermediates = ["0x2Cf9E5951C9e60e01b579f654dF447087468fc04"] }

###
## connection section - adjust for more fine grained connection control

# [connection]
# http_timeout - specify general HTTP timeouts for internal protocol related requests
# http_timeout = "60s"

# determine specific connection parameters for ephemeral bridge connection
# [connection.bridge]
# capabilities = [ "segmentation", "retransmission", "retransmission_ack_only" ]
# target = "172.30.0.1:8000"

# determine specific connection parameters for persistent main connection
# [connection.wg]
# capabilities = [ "segmentation", "no_delay" ]
# target = "172.30.0.1:51820"

# adjust internal session validation ping settings
# [connection.ping]
# address = "10.128.0.1"
# timeout = "15s"
# ttl = 6
# seq_count = 3

# adjust session internal options
# [connection.max_surb_upstream]
# bridge = "512 Kb/s"
# ping = "1 Mb/s"
# main = "16 Mb/s"
#
# [connection.buffer]
# bridge = "32 kB"
# ping = "32 kB"
# main = "10 MB"

###
## wireguard section - specific VPN-related settings

# [wireguard]
# interface listen port for incoming connections; defaults to 51820
# listen_port = 51820
# manually override derived allowed_ips for the WireGuard interface
# allowed_ips = "0.0.0.0/0"
# If you want to disable WireGuard key rotation, provide a static private key here.
# force_private_key = "<your WireGuard private key>"
