name: Merge PR
on:
  pull_request:
    types:
      - closed
      # - synchronize
    branches:
      - main
concurrency:
  group: merge
  cancel-in-progress: false
jobs:
  build-binaries:
    strategy:
      matrix:
        binary:
          - architecture: x86_64-linux
            runner: ubuntu-24.04
          - architecture: aarch64-darwin
            runner: macos-15
          - architecture: x86_64-darwin
            runner: macos-15
    name: Binary ${{ matrix.binary.architecture }}
    uses: ./.github/workflows/build-binaries.yaml
    with:
      branch: ${{ github.event.pull_request.base.ref }}
      runner: ${{ matrix.binary.runner }}
      architecture: ${{ matrix.binary.architecture }}
      version_type: "pr"
    secrets: inherit
  comment:
    name: Comment PR
    runs-on: ubuntu-24.04
    needs:
      - build-binaries
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Get version
        id: vars
        run: |
          set -x
          pr_version=$(grep -E '^version\s*=' Cargo.toml | awk -F\" '{print $2}')-pr.${{ github.event.pull_request.number }}
          echo "pr_version=$pr_version" >> $GITHUB_OUTPUT
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v5
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            The binaries for this PR can be downloaded from:
            ```
            mkdir ./binaries

            gcloud artifacts files download --project=gnosisvpn-production --location=europe-west3 --repository=rust-binaries gnosis_vpn:${{ steps.vars.outputs.pr_version }}:gnosis_vpn-x86_64-linux --destination=./binaries --local-filename=gnosis_vpn-x86_64-linux
            gcloud artifacts files download --project=gnosisvpn-production --location=europe-west3 --repository=rust-binaries gnosis_vpn:${{ steps.vars.outputs.pr_version }}:gnosis_vpn-ctl-x86_64-linux --destination=./binaries --local-filename=gnosis_vpn-ctl-x86_64-linux

            gcloud artifacts files download --project=gnosisvpn-production --location=europe-west3 --repository=rust-binaries gnosis_vpn:${{ steps.vars.outputs.pr_version }}:gnosis_vpn-aarch64-darwin --destination=./binaries --local-filename=gnosis_vpn-aarch64-darwin
            gcloud artifacts files download --project=gnosisvpn-production --location=europe-west3 --repository=rust-binaries gnosis_vpn:${{ steps.vars.outputs.pr_version }}:gnosis_vpn-ctl-aarch64-darwin --destination=./binaries --local-filename=gnosis_vpn-ctl-aarch64-darwin

            gcloud artifacts files download --project=gnosisvpn-production --location=europe-west3 --repository=rust-binaries gnosis_vpn:${{ steps.vars.outputs.pr_version }}:gnosis_vpn-x86_64-darwin --destination=./binaries --local-filename=gnosis_vpn-x86_64-darwin
            gcloud artifacts files download --project=gnosisvpn-production --location=europe-west3 --repository=rust-binaries gnosis_vpn:${{ steps.vars.outputs.pr_version }}:gnosis_vpn-ctl-x86_64-darwin --destination=./binaries --local-filename=gnosis_vpn-ctl-x86_64-darwin
            ```
  cache-deps:
    name: Cache deps
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/cache-deps.yaml
    with:
      branch: ${{ github.event.pull_request.base.ref }}
    secrets: inherit
